* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://images6.alphacoders.com/853/853375.png');
  background-size: cover;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

main {
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 0.589);
  padding: 20px;
  margin-top: 50px;
  border-radius: 20px;
  border: 1px solid red;
}


.trybewarts-header-logo {
  width: 70px;
}

.trybewarts-login {
  display: flex;
  margin-right: 15px;
}

.trybewarts-login input {
  border-radius: 8px;
}

#password {
  margin-left: 10px;
}

#button-submit {
  border-radius: 10px;
  margin-left: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-top: 100px;
}

.full-name {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.full-name input {
  width: 280px;
  border-radius: 10px;
  padding: 5px;
}

.email-select {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.email-select input {
  width: 280px;
  border-radius: 10px;
  padding: 5px;
}

#house {
  width: 293px;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid red;
}
